#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFTEMPLATEPATH="/usr/share/libdebuginfod-common"

db_version 2.0
db_capb

# Ask whether the user is OK with using debuginfod.  We just bother
# with the question if there is actually a debuginfod profile.d script
# available.
if [ -f "${CONFTEMPLATEPATH}"/debuginfod.sh ]; then
    if grep -qFx "ID=debian" /etc/os-release; then
	db_input medium libdebuginfod/usedebiandebuginfod || true
    fi
    db_go || true
fi
